node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
static/environments/default.hdr
static/models/default.glb
static/models/house/*
static/models/spiral/spiral.glb
static/models/spiral/spiral.stl
static/models/generated/output.scad
static/models/generated/output.glb
src/lib/server/firebase-admin-key.json
static/models/previews/*
firebase-debug.log
